/* Main CSS */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.625;
    margin: 0;
    color: #6F6F6F;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: auto;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
        url(img/OUZOUD-MOROCCO.jpg) center center / cover no-repeat;
    color: #FFF;
}

.topbar {
    padding: 18px 20px;
    font-size: .875rem;
    text-transform: uppercase;
    text-align: center;
}

.menu-item:hover {
    color: #C89446;
}

.logo {
    margin-bottom: 15px;
}

.menu-item {
    display: inline-block;
    margin: 0 15px;
}

.baseline {
    padding: 50px 0 70px 0;
    text-align:center;
    line-height: 1;
}

.baseline-welcome {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    display: block;
    font-size: 2.2rem;
}

.baseline-name {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.baseline-slogan {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-button {
    border: solid 1px #C89446;
    padding: 7px 10px;
    transition-property: color, background-color;
    margin-top: 5px;
}

.menu-button:hover {
    background: #C89446;
    color: #FFF;
}

.container-small {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1150px;
}

.padding {
margin-top: 60px;
}

.block {
    margin-bottom: 50px;
}

.title {
    font-size: 1.75rem;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
}

.title span {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.5rem;
    display:block;
    text-transform: none;
}

.title::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #C89446;
    margin-bottom: .5rem;
}

.more {
    color: #C89446;
}

.more a:hover {
    text-decoration: underline;
}

.more a::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    margin-left: .7em;
    background: url(img/arrow-right.svg) center center no-repeat;
    transition: transform .3s;
}

.more a:hover::after {
    transform: translateX(3px);
}

.block-img {
    max-width: 350px;
    margin: 0 auto;
    border: solid 1px #C89446;
}

.block-img img {
    display: block;
}

.block-img img {
    position: relative;
    z-index: 1;
}

.block-centered {
    text-align: center;
}

.block-centered .block-body {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.equipement-menu {
    margin: 40px 0;
    font-weight: 600;
    color: #383838;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.equipement-menu a {
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.equipement-menu a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 1px;
    opacity: 0;
    background: #C89446;
    transition: .3s;
}

.equipement-menu .active::after, .equipement-menu a:hover::after {
    bottom: 0;
    opacity: 1;
}

.menu-summary-item {
    position: relative;
    padding-left: 120px;
    margin-bottom: 30px;
}

.menu-summary-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.menu-summary-title {
    font-size: 1.125rem;
    color: #383838;
    font-weight: bold;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
}

.menu-summary p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.menu-summary-price {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.5rem;
    line-height: 1;
}

.reservation {
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
        url(img/reservation.jpg) center center / cover no-repeat;
    color: rgba(255, 255, 255, 0.6);
    padding: 50px 0;
}

.reservation .title {
    color: #FFF;
}

.reservation input, .reservation select {
    padding: 0 0.5rem;
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #6F6F6F;
    background: transparent;
    text-transform: uppercase;
    height: 40px;
    font-size: 0.875rem;
    color: #FFF;
    font-family: 'Source Sans Pro', serif;
    transition: background-color .3s, border-color .3s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
}

.reservation select {
    background: no-repeat right 0.5rem center url(img/select.svg);
}

.reservation input:focus, .reservation select:focus{
    background-color: rgba(255,255,255, .1);
    border-color: #C89446;
}

.reservation .button {
    width: 100%;
}

/* Contact Form */

.contact {
    padding: 50px 0;
    background: no-repeat top left / 80vw auto url(img/news-bg.jpg);
}

.contact .title {
    color: #000;
}

.contact input, .contact select, .contact textarea {
    padding: 0 0.5rem;
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #6F6F6F;
    background: transparent;
    text-transform: uppercase;
    height: 40px;
    font-size: 0.875rem;
    color: #FFF;
    font-family: 'Source Sans Pro', serif;
    transition: background-color .3s, border-color .3s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2px;
}

.contact textarea {
    resize: none;
    height: 150px;
    margin-bottom: -10px;
}

.contact select {
    background: no-repeat right 0.5rem center url(img/select.svg);
}

.contact input:focus, .reservation select:focus{
    background-color: rgba(255,255,255, .1);
    border-color: #C89446;
}

.contact .button {
    width: 100%;
}
.button {
    font-weight: 600;
    font-size: 0.875rem;
    color: #FFF;
    background: #C89446;
    border: none;
    border: solid 1px transparent;
    padding: 11px 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

.button-contact:hover {
    border: solid 1px #C89446;
    background: red;
}

#btn-contact:hover {
    border: solid 1px #C89446;
    background: rgba(61, 61, 61, 0.712);
}

.button:hover {
    border: solid 1px #C89446;
    background: transparent;
}

.reservation p {
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.reservation .block-centered .block-body {
    max-width: 825px;
}

.contact p {
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.contact .block-centered .block-body {
    max-width: 825px;
}

select option {
    color: #000;
}

.equipe {
    padding: 50px 0;
    background: no-repeat top left / 80vw auto url(img/news-bg.jpg);
}

.equipe .more {
    display: block;
    text-align: right;
    margin-top: 60px;
}

.equipe-list {
    font-weight: 300;
    font-size: 1.125rem;
}

.equipe-list strong {
    color: #383838;
    font-weight: bold;
}

.equipe-date strong {
    font-size: 1.75rem;
    line-height: 1.2;
    display: block;
}

.equipe-list-item {
    border-bottom: solid 1px #F2F2F2;
    margin-top: 1em;
    padding-bottom: 1em;
}

.equipe-list-item:last-child {
    border-bottom: 0;
}

.equipe-list {
    max-width: 920px;
    margin-left: auto;
}

.equipe-list-item {
    display: flex;
}

.equipe-list-item p {
    margin: 0;
}

.equipe-date {
    width: 60px;
    flex: none;
    line-height: 1;
}

.map {
    width: 100%;
    height: 460px;
}

.footer {
    background: #383838 bottom right no-repeat;
    font-weight: 300;
    color: #FFF;
    padding: 40px 0;
}

.footer-title {
    color: #C89446;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.25em;
}

.footer-column {
    margin-bottom: 2rem;
}

.block-equipement {
    border: solid 1px #C89446;
    padding: 35px 20px;
    font-weight: 600;
    color: #383838;
}

.block-equipement ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.block-equipement li {
    padding: 5px 0;
}

.block-equipement span {
    width: 35px;
    text-align: right;
    display: inline-block;
    margin-right: 20px;
    font-weight: 300;
}

.section-overflow {
    padding: 20px 0;
}

.block-video {
    text-align: center;
    position: relative;
    background: #383838;
    display: block;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.block-video img {
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.5);
    opacity: .6;
    transition: opacity .3s;
    display: block;
}

.block-video::after {
    content: '';
    background: url(img/play.png) center center no-repeat;
    position: absolute;
    width: 62px;
    height: 62px;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    transition: transform .3s;
}

.block-video:hover::after {
    transform: scale(1.2);
}

.block-video:hover img {
    opacity: .8;
}

.equipe-mosaic p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.equipe-mosaic .more {
    margin-top: 0.5rem;
}

.pagination {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.pagination a {
    border: 1px solid #C89446;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    overflow: hidden;
    text-indent: -3000px;
    transition: background-color .3s;
    margin: 0 10px;
}

.pagination a.active, .pagination a:hover {
    background: #C89446;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
    .logo {
        margin-bottom: 0;
    }
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1150px;
        margin: 0 auto;
    }
    .baseline {
        padding: 125px 0 230px;
    }
    .baseline-slogan {
        font-size: 1.5rem;
    }
    .baseline-name {
        font-size: 4.375rem;
        letter-spacing: 12px;
        padding-top: 8px;
        padding-bottom: 18px;
    }
    .baseline-welcome {
        font-size: 3.75rem;
    }
    .menu-button {
        margin-top: 0;
        margin-right: 0;
    }
}

/* Media Query */
@media only screen and (min-width: 800px) {
    .block {
        margin-bottom: 100px;
    }

    .block-last {
        margin-bottom: 60px;
    }

    .block-left, .block-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .block-img {
        border: none;
        position: relative;
    }

    .block-left .block-body, .block-right .block-body {
        width: 445px;
        flex: none;
    }

    .block-img::before {
        content: '';
        display: block;
        border: solid 1px #C89446;
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .block-right .block-img::before {
        left: auto;
        right: -30px;
    }

    .block-left .block-img {
        margin-left: 30px;
    }

    .block-right .block-img {
        margin-right: 30px;
    }

    .block-left .block-body {
        margin-left: 20px;
    }

    .block-right .block-body {
        margin-right: 20px;
        order: -1;
    }

    .title {
        margin-bottom: 1.2rem;
    }

    .title::before {
        margin-bottom: 10px;
    }

    .more {
        display: block;
        margin-top: 1.3rem;
    }

    .home-section {
        background:
            fixed top 95px right 0px url(img/oranges.jpg) no-repeat,
            fixed top 640px left 0px url(img/spices.jpg) no-repeat;
    }

    .equipement-menu a {
        margin: 0 32px;
    }

    .menu-summary {
        position: relative;
        padding: 85px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu-summary-item {
        padding-left: 192px;
        margin-bottom: 110px;
        width: calc(50% - 40px);
    }

    .menu-summary .menu-summary-item:nth-child(even) {
        text-align: right;
        padding-left: 0;
        padding-right:  192px;
    }

    .menu-summary .menu-summary-item:nth-child(even) .menu-summary-img {
        left: auto;
        right: 0;
    }

    .menu-summary .menu-summary-item:nth-child(even) .menu-summary-price {
        margin-left: auto;
    }

    .menu-summary-img {
        width: 160px;
    }

    .menu-summary-title {
        margin-top: 0;
        line-height: 1.2;
        background: #FFF;
    }

    .menu-summary p {
        background: #FFf;
    }

    .menu-summary-price {
        padding-top: 4px;
        width: 85px;
        background: #FFF;
    }

    .menu-summary::before {
        content:'';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 420px;
        height: 420px;
        border: solid 1px #C89446;
        transform: translate(-50%, -260px) rotate(45deg);
    }

    .block-airplane {
        display: flex;
        align-items: center;
        margin-bottom: 0px;
    }

    .block-airplane .block-img::before {
        display: none;
    }

    .block-airplane .block-img {
        flex: none;
        width: 404px;
        order: 2;
    }

    .reservation {
        padding: 100px 0;
    }

    .reservation-form-row {
        margin: 64px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 120px;
    }

    .col-1, .col-2 {
        display: flex;
        justify-content: space-between;
    }

    .reservation-form-row input, .reservation-form-row select {
        width: calc(33.33% - 20px);
        margin-bottom: 0;
    }

    .reservation .button {
        width: calc(33.33% - 20px);
    }

    .contact {
        padding: 100px 0;
    }

    .contact-form-row {
        margin: 64px 0;
        margin-left: 120px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 220px;
    }

    .contact-form-row input, .contact-form-row select {
        width: calc(44.44% - 20px);
        margin-bottom: 0;
    }

    .contact .button {
        width: calc(33.33% - 20px);
    }


    .equipe {
        padding: 60px 0;
        background-size: 589px auto;
        background-attachment: fixed;
    }

    .equipe a:hover {
        text-decoration: underline;
    }

    .equipe .title {
        text-align: right;
    }

    .equipe .container > p {
        text-align: right;
        max-width: 716px;
        margin-left: auto;
    }

    .equipe-date {
        width: 95px;
    }

    .equipe-list {
        margin-top: 64px;
        margin-bottom: 64px;
    }

    .equipe-list-item {
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .equipe-list-item:last-child {
        padding-bottom: 0;
    }

    .footer {
        background-image: url(img/splash.png);
    }

    .footer-columns {
        display: flex;
        justify-content: space-between;
    }

    .footer-column {
        width: 290px;
        margin-right: 50px;
    }

    .footer-column:first-child {
        width: 450px;
    }

    .footer-column:last-child {
        margin-right: 0;
        flex: none;
    }

    .footer a {
        text-decoration: underline;
    }

    .footer a:hover {
        color: #C89446;
    }

    .footer ul {
        padding-left: 0;
        list-style: none;
    }

    .footer ul li::before {
        content: '- ';
    }

    .footer-credits {
        font-size: 0.93em;
    }

    .footer-credits span {
        font-weight: bold;
    }

    .block-equipement {
        width: 350px;
        padding: 35px 40px;
    }

    .block-equipement span {
        width: 35px;
        margin-right: 50px;
    }

    .block-equipement li {
        padding: 10px 0;
    }

    .section-overflow {
        padding: 0;
        margin-top: 20px;
    }

    .block-right .block-video {
        margin-left: 28px;
    }

    .equipe-mosaic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -60px;
    }

    .equipe-mosaic .menu-summary-item {
        width: calc(50% - 25px);
    }

    .equipe-mosaic .menu-summary-item {
        padding-left: 150px;
        margin-bottom: 60px;
        font-size: 0.875rem;
    }

    .equipe-mosaic .menu-summary-img {
        width: 125px;
    }

    .pagination {
        margin: 60px 0;
    }
}